{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <section class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Profil</h1>
            </div>
        </div>
    </section>

{% endblock %}
