{% extends 'base.html.twig' %}

{% block title %}S'identifier{% endblock %}

{% block seoDescription %}Connectez-vous à votre compte sur le site Ultrage afin de pouvoir utiliser la totalité des outils disponibles.{% endblock %}

{% block seoBreadcrumb %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "Ultrage",
                "item": "https://ultrage.meezyr.fr/"
            },{
                "@type": "ListItem",
                "position": 2,
                "name": "S'indentifier"
            }]
        }
    </script>
{% endblock %}

{% block body %}
    <section class="form-login w-50 m-auto py-5">
        <form method="post">
            <h1 class="h3 mb-5 fw-normal">Saisissez vos identifiants pour vous connecter</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-floating mb-3">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="nom@exemple.fr" autocomplete="email" required autofocus>
                <label for="inputEmail">Adresse e-mail</label>
            </div>
            <div class="form-floating mb-4">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                <label for="inputPassword">Mot de passe</label>
            </div>

            <div class="form-check mb-4">
                <input type="checkbox" name="_remember_me" class="form-check-input" id="rememberMe">
                <label for="rememberMe" class="form-check-label">Se souvenir de moi</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="w-100 btn btn-lg btn-primary" type="submit">S'identifier</button>
        </form>
    </section>
{% endblock %}
