{% extends 'base.html.twig' %}

{% block title %}U-Documentation{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
    <section class="w-50 m-auto py-5">
        <div class="row m-0">
            <h2 class="mb-5">Nouvelle documentation</h2>

            <div class="mb-4">

            </div>
        </div>
    </section>
{% endblock %}