
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.dev
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/node_modules/
/composer.lock
/symfony.lock
###< symfony/framework-bundle ###
/migrations/
/symfony.exe
/public/img/avatar/*
/public/img/share/*
/.idea/
