$blue-ultrage: #1291ff;

html {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $gray-900 $gray-500;
    scrollbar-width: thin;

    ::-webkit-scrollbar {
        width: 8px;
        background: $gray-500;
    }

    ::-webkit-scrollbar-thumb {
        background: $gray-900;
    }
}

.content {
    width: calc(100vw - 280px);
}

.section-grid-col-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.5rem;

    .section-col-1 {
        grid-column: 1 / 2;
    }
    .section-col-2 {
        grid-column: 2 / 3;
    }
}