.add-category {
    .text-category .value-category {
        display: flex;
        justify-content: center;
        align-items: center;

        .remove-category {
            height: 14px;
            width: 14px;
            padding: 0;
            margin: 0 0 0 5px;
        }
    }
    .error-category {
        display: block;
    }
}

.section-sommaire {
    .box-sommaire {
        max-height: 400px;

        ul {
            width: 100%;
            overflow: auto;
            margin: 0;
            scrollbar-width: thin;
        }
    }
}

.contenu-documentation {
    h2 {
        padding-top: 3rem;
        margin: 0 0 1.5rem 0;
        font-size: 1.5rem;
    }
    h3 {
        padding-top: 3rem;
        margin: 0 0 1.5rem 0;
        font-size: 1.25rem;
    }
    h2 strong, h3 strong {
        padding-left: 0;
        cursor: pointer;
        position: relative;
        transition: all 0.3s ease;

        &::before {
            content: "";
            height: 0;
            width: 0;
            background-image: url("../img/svg/anchor.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: all 0.3s ease;
        }
        &:hover {
            padding-left: 32px;

            &::before {
                height: 28px;
                width: 28px;
                opacity: 1;
            }
        }
    }
    pre {
        margin: 1rem 0;
        padding: 1.5rem;
        background-color: $gray-800;
        color: $white;
        border-radius: calc(var(--bs-border-radius) - 1px);
        border: 1.5px solid $dark;
    }
    code {
        color: $danger;
    }
    .banniere-documentation {
        margin: 0 0 1.5rem 0;
        width: 100%;
        border-radius: 8px;
    }
}