$blue-ultrage: #1291ff;
$dark-ultrage: #094067;
$gray-ultrage: #5f6c7b;

$primary: #3da9fc;
$secondary: #90b4ce;
$danger: #ef4565;
$warning: #F07846;
$success: #358553;
$info: #3DCCFF;
$light: #F7F7F7;
$dark: #21262B;

$color-contrast-dark: $dark;
$input-color: $dark;

$btn-font-weight: 600;
$nav-link-font-weight: 600;