{% extends 'base.html.twig' %}

{% set titreOutil = 'U-Mot De Passe' %}

{% block title %}{{ titreOutil }}{% endblock %}

{% block seoDescription %}U-Mot De Passe est un outil de génération de manières aléatoires de mots de passe sur le site Ultrage.{% endblock %}

{% block seoBreadcrumb %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "Ultrage",
                "item": "https://ultrage.meezyr.fr/"
            },{
                "@type": "ListItem",
                "position": 2,
                "name": "U-Mot de passe"
            }]
        }
    </script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/umotdepasse.js') }}"></script>
{% endblock %}

{% block body %}
    <h1 class="h1-hidden">{{ titreOutil }}</h1>

    <section class="w-50 m-auto py-5">
        <div class="row m-0">
            <h2 class="mb-5">Générateur de mot de passe</h2>

            <div class="mb-4">
                <label for="lengthPassword" class="form-label">Nombre de caractères</label>
                <div class="d-flex flex-row align-items-center">
                    <input type="range" name="lengthPassword" id="lengthPassword" min="5" max="80" value="15" step="1"
                           class="form-range" oninput="this.nextElementSibling.value = this.value">
                    <output class="badge bg-info ms-4 fs-5">15</output>
                </div>
            </div>

            <div class="input-group mb-4">
                <input type="text" name="password" id="password" class="form-control"
                       placeholder="Mot de passe aléatoire" aria-label="Mot de passe" aria-describedby="copyPassword">
                <button class="btn btn-danger" type="button" id="copyPassword" title="Copier le mot de passe">
                    <i class="bi bi-clipboard text-white"></i>
                </button>
            </div>

            <button id="buttonPassword" class="btn btn-primary" title="Gérérer aléatoirement un mot de passe">Générer aléatoirement</button>
        </div>
    </section>
{% endblock %}