{% extends 'base.html.twig' %}

{% block title %}U-Mot De Passe{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/umotdepasse.js') }}"></script>
{% endblock %}

{% block body %}
    <section class="w-50 m-auto py-5">
        <div class="row m-0">
            <h2 class="mb-5">Générateur de mot de passe</h2>

            <div class="mb-4">
                <label for="lengthPassword" class="form-label">Nombre de caractères</label>
                <div class="d-flex flex-row align-items-center">
                    <input type="range" name="lengthPassword" id="lengthPassword" min="5" max="80" value="15" step="1"
                           class="form-range" oninput="this.nextElementSibling.value = this.value">
                    <output class="badge bg-dark ms-4 fs-5">15</output>
                </div>
            </div>

            <div class="input-group mb-4">
                <input type="text" name="password" id="password" class="form-control"
                       placeholder="Mot de passe aléatoire" aria-label="Mot de passe" aria-describedby="copyPassword">
                <button class="btn btn-success" type="button" id="copyPassword" disabled>
                    <i class="bi bi-clipboard"></i>
                </button>
            </div>

            <button id="buttonPassword" class="btn btn-primary">Générer aléatoirement</button>
        </div>
    </section>
{% endblock %}