{% extends 'base.html.twig' %}

{% block title %}U-Tâche{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/utache.js') }}"></script>
{% endblock %}

{% block body %}
    <section id="taskBoard" class="px-4 py-5 h-100">
        <div class="row m-0 h-100 gap-3">
            <div class="col p-0 border border-warning">
                <h2>0. A faire</h2>
                <div id="makeTask" class="w-100 h-100">
                    <div class="dragTask w-100 border border-danger bg-light" style="cursor: grab;">
                        <p>Massa vocibus nisl eros</p>
                        <time datetime="2020-06-19">June 19, 2020</time>
                    </div>
                </div>
            </div>
            <div class="col p-0 border border-warning">
                <h2>1. En attente</h2>
                <div id="waitTask" class="w-100 h-100">
                    <div class="dragTask w-100 border border-danger bg-light" style="cursor: grab;">
                        <p>Massa vocibus nisl eros</p>
                        <time datetime="2020-06-19">June 19, 2020</time>
                    </div>
                </div>
            </div>
            <div class="col p-0 border border-warning">
                <h2>2. En cours</h2>
                <div id="progressTask" class="w-100 h-100">

                </div>
            </div>
            <div class="col p-0 border border-warning">
                <h2>3. Terminé</h2>
                <div id="endTask" class="w-100 h-100">

                </div>
            </div>
        </div>
    </section>
{% endblock %}