{% block footer %}
    <footer class="bg-dark bg-gradient py-2">
        <p class="text-center text-white-50 m-0"><small>&copy; Ultrage - Créé par Corentin Diard</small></p>
    </footer>
{% endblock %}